

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="csrf-token" content="{{ csrf_token() }}"> <!-- CSRF Token -->

    <title>CRM Deal Creation</title>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <style>
        body {
            background-color: powderblue;
        }

        .container {
            font-size: small;
            margin: 20px auto;
            width: 80%;
        }

        button {
            margin: 5px 0;
        }

        .top-right-buttons p {
            float: right;
            margin-left: 10px;
        }
    </style>
</head>

<body>
    <div class="top-right-buttons">
        <p><a href="{{ url_for('main.logout') }}">Logout</a></p>
    </div>

    <div class="container">
        <h3 style="text-align: center; margin-top: 5px;">Change Password</h3>

        <form method="POST" action="{{ url_for('main.change_password') }}">
            {{ form.hidden_tag() }} <!-- CSRF protection -->
            <br><br><br> <br>

            <label for="old_password">Old Pasordsw:</label>
            {{ form.old_password(size=40) }}
            <br><br><br> <br>

            <label for="new_password">New Password:</label>
            {{ form.new_password() }}
            <br><br><br> <br>

            <label for="confirm_password">Confirm New Password:</label>
            {{ form.confirm_password() }}
            <br><br><br> <br>


            {{ form.submit() }}
        </form>
    </div>
</body>

</html>
